#logo {
    height: 100px;
    margin-right: 100%;
}
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
  .center {
      margin-bottom: 5%;
  }
 
  /* .textcenter {
      text-align: center;
  } */
  .textcenter {
      margin-left: 13%;
  }
  #textcenter {
    text-align: center;
    /* margin-right: 25%; */
    margin-bottom: 5%;
}
  #connect {
      text-align: center;
      color: blue;
  }
  #contact {
      text-align: center;
  }
  #icon {
      height: 50px;
      width: 50px;
  }
  