#logo {
    height: 100px;
    margin-right: 100%;
}
  .center {
      margin-bottom: 5%;
  }
  .textcenter {
      margin-left: 13%;
  }
  #textcenter {
    text-align: center;
    margin-bottom: 5%;
}
  #connect {
      text-align: center;
      color: blue;
  }
  #contact {
      text-align: center;
  }
  #icon {
      height: 50px;
      width: 50px;
  }
